#header {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
}

.img-cont {
    flex: 1;
    height: 50px;
    width: 500px;

}

#header-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#nav-bar {
    font-size: 25px;
    font-weight: 500;
    flex: 2;
    padding: 5px 10px;
    margin: 5px 5px 5px 30px;
}

#nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#nav-bar a {
    text-decoration: none;
    color: black;
}